/** @format */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
}

input {
  height: 40px;
  width: 270px;
  margin: 4px;
  padding: 6px;
  border-radius: 4px;
}

button {
  height: 50px;
  width: 280px;
  margin: 4px;
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
}
